.App {
  /* text-align: center; */
}
.main {
  min-height: 85vh;
}

.admin-items:hover {
  background: white;
  color: #0d6efd !important;
  cursor: pointer;
  /* transition: 0.08s ease-in-out; */
}
.Active {
  background-color: green;
  color: white;
  padding: 0.3rem 0.8rem;
  border-radius: 5px;
}
.Inactive {
  background: red;
  color: white;
  padding: 0.3rem 0.8rem;
  border-radius: 5px;
}
.image-container {
  position: relative;
  width: 150px; /* Adjust based on your image's display size */
  height: auto; /* This can change depending on your layout */
}

.delete-btn {
  top: 0;
  right: 0;
  margin-right: 0; /* Adjust the margin as needed */
  margin-top: 0; /* Adjust the margin as needed */
  color: red; /* Optional: changes the color of the delete icon */
  background: white;
  cursor: pointer; /* Changes the cursor to a pointer when hovering over the icon */
  font-size: 24px;
}
